<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <!-- META DATA -->
    <title>Материалы курса</title>
    <meta name="description" content="Codelearn is a multi-purpose resume style landing page template by Codefest&trade;. Purchase now.">
    <meta name="keywords" content="Codelearn,Codefest">
    <meta name="author" content="Codefest">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" href="css/lessons.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700;900&display=swap" rel="stylesheet">
</head>
    <body>
        <div class="main-wrapper">
            <nav class="course-materials-navbar" >
                <div class="navbar-icon-wrapper">
                    <div class="navbar-icon-section">
                        <a href="/group">
                            <img src="images/group.svg">
                        </a>
                    </div>
                    <div class="navbar-icon-section">
                        <a href="/timetable">
                            <img src="images/calendar.svg">
                        </a>
                    </div>
                    <div class="navbar-icon-section">
                        <a href="/materials">
                            <img src="images/video.svg">
                        </a>
                    </div>
                </div>
               
            </nav>
            <div class="course-materials-content">
                <div class="content-wrapper">
                    <div class="title">
                        <h1>Материалы курса</h1>
                    </div>
                    <div class="materials-wrapper">
                        <div class="material">
                            <div class="material-title ">
                                Раздел 1: Введение
                            </div>
                            <div class="material-content">
                                <div class="material-content-item">
                                    <h1>1.1: Введение в программирование</h1>
                                    <div class="material-content-item-buttons">
                                        <button>Подробнее</button>
                                        <button>ДЗ</button>
                                    </div>
                                </div>
                                <div class="material-content-item">
                                    <h1>1.2: Кто это такая ваша Java?</h1>
                                    <div class="material-content-item-buttons">
                                        <button>Подробнее</button>
                                        <button>ДЗ</button>
                                    </div>
                                </div>
                            </div>
                        </div> 

                        <div class="material">
                            <div class="material-title ">
                                Раздел 2: Введение
                            </div>
                        </div> 

                        <div class="material">
                            <div class="material-title ">
                                Раздел 3: Введение
                            </div>
                        </div> 

                        <div class="material">
                            <div class="material-title ">
                                Раздел 4: Введение
                            </div>
                        </div> 

                        <div class="material">
                            <div class="material-title ">
                                Раздел 5: Введение
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="course-materials-profile">
                <div class="personal-card-wrapper">
                    <div class="personal-avatar"></div>
                    <h1 class="personal-login subtitle">wldrmnd</h1>
                    <h1 class="personal-name subtitle">Егор Барковский</h1>
                    <h1 class="personal-login subtitle">Back-end</h1>
                    <button class="edit-profile">Редактировать</button>
                    <h1 class="personal-time-label subtitle">Занятия через</h1>
                    <div class="personal-time-countdown title">
                        <h1>05:10</h1>
                    </div>
                    <button class="to-homework">Домашнее задание</button>
                </div>
            </div>
        </div>
       
    </body>
</html>
